{% extends "::base.html.twig" %}
{% block extracss %}
    <link rel="stylesheet" href={{ asset("css/game.css") }}>
{% endblock %}

{% block body %}
   <section class="section frontpage">
       <div class="has-text-centered container-alpha game-menu">
           <div class="blur"></div>
           <div class="content white">
               {% if app.user %}
                   <h3 class="title">Spel menu</h3>
                   Welkom {% if app.user.student.games | length > 0 %} terug {% endif %} {{ app.user.userprofile.firstname }}
                   <div class="button-list-vertical is-centered">
                       <a class="button is-warning is-large" href="{{ path('game_new') }}">nieuw spel</a>
                       {% if load_btn %}
                           <a class="button is-success is-large" href="{{ path('game_play') }}" >speel verder</a>
                       {% endif %}
                       <a class="button is-info is-large" href="{{ path('user_show',{'id': app.user.id }) }}">jouw gegevens</a>
                       <a class="button is-dark is-large" href="{{ path('logout') }}">uitloggen</a>
                   </div>

               {% else %}
                   {{ render(controller('AppBundle:Security:login')) }}
               {% endif %}
           </div>
       </div>
    </section>

{% endblock %}

