{% extends "::base.html.twig" %}

{% block extracss %}
    <link rel="stylesheet" href={{ asset("css/game.css") }}>
{% endblock %}

{% block body %}

   <section class="section game-main">
       <div class="container ">
           <div class="columns">
               <div id="game-main" class="column is-offset-3 is-6 has-text-centered">
                   <img src='{{ asset("img/tutors/#{ level }.png") }}' class="tutor" data-lvl="{{ level }}"/>
                   {% if app.user.student.experimental %}
                       <div id="game-response" data-tutor><span></span></div>
                       <div id="game-response-extra" data-tutor-extra><span></span></div>
                   {% endif %}
                   <div id="game-scores">
                       <div class="columns">
                           <div class="column is-5">
                               <span class="level-title">
                                   Level
                               </span>
                               <span id="level">
                                   {{ level }}
                               </span>
                               <span id="level-msg" class="level-msg">
                                   +1
                               </span>
                           </div>
                           <div class="column is-2">
                               <span id="time">
                                   {{ time }}
                               </span>
                           </div>
                           <div class="column is-5">
                               <span class="level-title">
                                   Score
                               </span>
                               <span id="score">
                                   {{ score }}
                               </span>
                               <span id="score-msg" class="level-msg">
                                   +1
                               </span>
                           </div>
                       </div>
                   </div>
                   {% if app.user %}
                       {% if app.user.student.experimental == 0 %}
                           <div id="game-response" data-control><span>Welkom terug {{ app.user.userprofile.firstname }}</span></div>
                       {% endif %}
                           <div id="word-container" >
                               <div id="word">
                                   ...
                               </div>
                           </div>

                   {% else %}
                       {{ render(controller('AppBundle:Security:login')) }}
                   {% endif %}

               </div>
           </div>
       </div>

   </section>
    {% if app.user %}
        <footer class="footer">
            <div class="columns">
                <div class="column is-4 has-text-centered">
                    <a class="button btn-round is-warning" href="{{ path('game_landing') }}">
                        <i class="fa fa-arrow-left"></i>
                        <span class="btn-round-text">
                            Terug naar menu
                        </span>
                    </a>
                </div>
                <div id="game-interactions" class="column is-4 has-text-centered">
                    <button class="button btn-round big is-success" type="button" onclick="nextQuestion()">
                        <i class="fa fa-play"></i>
                        <span class="btn-round-text">
                            Start
                        </span>
                    </button>
                </div>
                <div id="helpbtns" class="column is-4 has-text-centered">
                    <button id="help" class="button btn-round is-info " type="button" onclick="help()" disabled>
                        <i class="far fa-lightbulb"></i>
                        <span class="btn-round-text">Help me</span>
                    </button>
                    <button id="help" class="button btn-round is-dark " type="button" onclick="skipQuestion()" disabled>
                        <i class="fa fa-step-forward"></i>
                        <span class="btn-round-text">Sla over</span>
                    </button>
                </div>
            </div>

        </footer>
    {% endif %}


{% endblock %}

{% block extrascripts %}
    <script>
        showTutorMessage({{ tutor_output|json_encode|raw }});
    </script>
{% endblock %}

